<div id="card--{{@index}}" class="addCard">

	<div class="modalHeader">
		<h3>Add a toy:</h3>
	</div>

	<div class="cardDesc">
		<p>Toy Name: </p>
		<p><input type="text" value="generic toy" id="txtToyName"></p>
		<p>Toy Image Url: </p>
		<p><input type="text" value="http://i1.birminghammail.co.uk/incoming/article10198108.ece/ALTERNATES/s615b/Christmas-toys-2015-25.jpg" id="txtToyURL"></p>
		<p>Toy Price: </p>
		<p><input type="text" value="20.99" id="txtToyPrice"></p>
		<p>Toy Description: </p>
		<p><input type="text" value="This toy is cool, buy it." id="txtToyDesc"></p>
		<button id="addToyBtn" type="button" class="btn addButton"><span class="glyphicon glyphicon-plus"></span> Add a Toy</button>
	</div>

</div>
