<div class='addCard col-md-2 col-md-offset-5'>

	<h1>Add toy:</h1>
	<hr/>
	<p>Toy Name: <input type="text" value="generic toy" id="txtToyName"></p>
	<p>Toy Image Url: <input type="text" value="http://i1.birminghammail.co.uk/incoming/article10198108.ece/ALTERNATES/s615b/Christmas-toys-2015-25.jpg" id="txtToyURL"></p>
	<p>Toy Price: <input type="text" value="$20.99" id="txtToyPrice"></p>
	<p>Toy Descriptions: <input type="text" value="This toy is cool, buy it." id="txtToyDesc"></p>

</div>