<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Crazy Eddy's Consignment Toys!</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input id="txtSearch" type="text" class="form-control" placeholder="New description">
          <a href="#" id="searchButton" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search 
          </a>
          <a href="#" id="listAllButton" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-list"></span> View All
          </a>
          <a href="#" id="addButton" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus"></span> Add a Toy 
          </a>
        </div>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
